<%- include('partials/header.ejs'); -%>

<section class="compose content-pad">
    <h1>Compose</h1>
    <form method="post">
        <label for="title">Title:</label><br>
        <input type="text" name="title"><br>
        <label for="post">Post:</label><br>
        <textarea name="post" id="" cols="30" rows="10"></textarea>
        <button type="submit">publish</button>
    </form>

</section>


<%- include('partials/footer.ejs'); -%>